<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinqch.mapper.DeliveryCorpMapper" >
  <resultMap id="BaseResultMap" type="com.xinqch.model.DeliveryCorpEntity" >
    <id column="CORP_ID" property="corpId" jdbcType="DECIMAL" />
    <result column="CORP_NAME" property="corpName" jdbcType="VARCHAR" />
    <result column="CORP_CODE" property="corpCode" jdbcType="VARCHAR" />
    <result column="QUERY_CODE" property="queryCode" jdbcType="VARCHAR" />
    <result column="JINGDONG_CODE" property="jingdongCode" jdbcType="VARCHAR" />
    <result column="PAIPAI_CODE" property="paipaiCode" jdbcType="VARCHAR" />
    <result column="DANGDANG_CODE" property="dangdangCode" jdbcType="VARCHAR" />
    <result column="AMAZON_CODE" property="amazonCode" jdbcType="VARCHAR" />
    <result column="YIHAODIAN_CODE" property="yihaodianCode" jdbcType="VARCHAR" />
    <result column="VANCL_CODE" property="vanclCode" jdbcType="VARCHAR" />
    <result column="RAKUTEN_CODE" property="rakutenCode" jdbcType="VARCHAR" />
    <result column="MOSAMASO_CODE" property="mosamasoCode" jdbcType="VARCHAR" />
    <result column="M18_CODE" property="m18Code" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="INTEGER" />
    <result column="ORDERNUM" property="ordernum" jdbcType="INTEGER" />
    <result column="WEBSITE" property="website" jdbcType="VARCHAR" />
    <result column="TAOBAO_CODE" property="taobaoCode" jdbcType="VARCHAR" />
    <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR" />
    <result column="IS_DEFAULT" property="isDefault" jdbcType="INTEGER" />
    <result column="PRIORITY" property="priority" jdbcType="INTEGER" />
    <result column="SUNING_CODE" property="suningCode" jdbcType="VARCHAR" />
    <result column="PROPS" property="props" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CORP_ID, CORP_NAME, CORP_CODE, QUERY_CODE, JINGDONG_CODE, PAIPAI_CODE, DANGDANG_CODE, 
    AMAZON_CODE, YIHAODIAN_CODE, VANCL_CODE, RAKUTEN_CODE, MOSAMASO_CODE, M18_CODE, TYPE, 
    STATE, ORDERNUM, WEBSITE, TAOBAO_CODE, CONTACT_PHONE, IS_DEFAULT, PRIORITY, SUNING_CODE
  </sql>
  <sql id="Blob_Column_List" >
    PROPS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from delivery_corp
    where CORP_ID = #{corpId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from delivery_corp
    where CORP_ID = #{corpId}
  </delete>
  <insert id="insert" parameterType="com.xinqch.model.DeliveryCorpEntity" >
    insert into delivery_corp (CORP_ID, CORP_NAME, CORP_CODE, 
      QUERY_CODE, JINGDONG_CODE, PAIPAI_CODE, 
      DANGDANG_CODE, AMAZON_CODE, YIHAODIAN_CODE, 
      VANCL_CODE, RAKUTEN_CODE, MOSAMASO_CODE, 
      M18_CODE, TYPE, STATE, 
      ORDERNUM, WEBSITE, TAOBAO_CODE, 
      CONTACT_PHONE, IS_DEFAULT, PRIORITY, 
      SUNING_CODE, PROPS)
    values (#{corpId,jdbcType=DECIMAL}, #{corpName,jdbcType=VARCHAR}, #{corpCode,jdbcType=VARCHAR}, 
      #{queryCode,jdbcType=VARCHAR}, #{jingdongCode,jdbcType=VARCHAR}, #{paipaiCode,jdbcType=VARCHAR}, 
      #{dangdangCode,jdbcType=VARCHAR}, #{amazonCode,jdbcType=VARCHAR}, #{yihaodianCode,jdbcType=VARCHAR}, 
      #{vanclCode,jdbcType=VARCHAR}, #{rakutenCode,jdbcType=VARCHAR}, #{mosamasoCode,jdbcType=VARCHAR}, 
      #{m18Code,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{ordernum,jdbcType=INTEGER}, #{website,jdbcType=VARCHAR}, #{taobaoCode,jdbcType=VARCHAR}, 
      #{contactPhone,jdbcType=VARCHAR}, #{isDefault,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, 
      #{suningCode,jdbcType=VARCHAR}, #{props,jdbcType=LONGVARCHAR})
  </insert>
 
  <update id="updateByPrimaryKey" parameterType="com.xinqch.model.DeliveryCorpEntity" >
    update delivery_corp
    set CORP_NAME = #{corpName,jdbcType=VARCHAR},
      CORP_CODE = #{corpCode,jdbcType=VARCHAR},
      QUERY_CODE = #{queryCode,jdbcType=VARCHAR},
      JINGDONG_CODE = #{jingdongCode,jdbcType=VARCHAR},
      PAIPAI_CODE = #{paipaiCode,jdbcType=VARCHAR},
      DANGDANG_CODE = #{dangdangCode,jdbcType=VARCHAR},
      AMAZON_CODE = #{amazonCode,jdbcType=VARCHAR},
      YIHAODIAN_CODE = #{yihaodianCode,jdbcType=VARCHAR},
      VANCL_CODE = #{vanclCode,jdbcType=VARCHAR},
      RAKUTEN_CODE = #{rakutenCode,jdbcType=VARCHAR},
      MOSAMASO_CODE = #{mosamasoCode,jdbcType=VARCHAR},
      M18_CODE = #{m18Code,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=INTEGER},
      ORDERNUM = #{ordernum,jdbcType=INTEGER},
      WEBSITE = #{website,jdbcType=VARCHAR},
      TAOBAO_CODE = #{taobaoCode,jdbcType=VARCHAR},
      CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      IS_DEFAULT = #{isDefault,jdbcType=INTEGER},
      PRIORITY = #{priority,jdbcType=INTEGER},
      SUNING_CODE = #{suningCode,jdbcType=VARCHAR}
    where CORP_ID = #{corpId}
  </update>
  
  <!--  自定义sql begin -->
  <select id="findDeliveryCorpByCondition" parameterType="com.xinqch.model.DeliveryCorpCondition"  resultMap="BaseResultMap">
  		select 
		<include refid="Base_Column_List" />
		,
	    <include refid="Blob_Column_List" />	
		from delivery_corp where STATE=0
		<if test="corpCode != null">
			AND CORP_CODE = #{corpCode}
		</if>
		<if test="pageNo !=null and pageSize !=null">
			limit #{pageNo},#{pageSize}
		</if>
		<if test="sortField !=null">
	       ORDER BY ${sortField}
	       <if test="sortDesc !=null AND sortDesc == true">
		       DESC
		   </if>
		</if>
  </select> 
  
  <select id="getDeliveryCorpByCondition" parameterType="com.xinqch.model.DeliveryCorpCondition" resultType="java.lang.Integer">
  		select count(*) from delivery_corp where STATE=0
		<if test="corpCode != null">
			AND CORP_CODE = #{corpCode}
		</if>
		<if test="sortField !=null">
	       ORDER BY ${sortField}
	       <if test="sortDesc !=null AND sortDesc == true">
		       DESC
		   </if>
		</if>
  </select> 
 
   <select id="findDeliveryCorpByCorpCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  		select count(*) from delivery_corp where STATE=0
		<if test="corpCode != null">
			AND CORP_CODE = #{corpCode}
		</if>
  </select> 
  
</mapper>