<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinqch.mapper.PrintTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.xinqch.model.PrintTemplateEntity" >
    <id column="PRINT_TEMPLATE_ID" property="printTemplateId" jdbcType="DECIMAL" />
    <result column="CORP_ID" property="corpId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SHORTCUT" property="shortcut" jdbcType="INTEGER" />
    <result column="DISABLED" property="disabled" jdbcType="INTEGER" />
    <result column="WIDTH" property="width" jdbcType="INTEGER" />
    <result column="HEIGHT" property="height" jdbcType="INTEGER" />
    <result column="H_OFFSET" property="hOffset" jdbcType="INTEGER" />
    <result column="V_OFFSET" property="vOffset" jdbcType="INTEGER" />
    <result column="TEMPLATE_TYPE" property="templateType" jdbcType="INTEGER" />
    <result column="IS_DEFAULT" property="isDefault" jdbcType="INTEGER" />
    <result column="RELATE_OBJECT_CODE" property="relateObjectCode" jdbcType="VARCHAR" />
    <result column="PAPER_TYPE" property="paperType" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xinqch.model.PrintTemplateEntity" extends="BaseResultMap" >
    <result column="DATA" property="data" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PRINT_TEMPLATE_ID, CORP_ID, NAME, SHORTCUT, DISABLED, WIDTH, HEIGHT, H_OFFSET, V_OFFSET, 
    TEMPLATE_TYPE, IS_DEFAULT, RELATE_OBJECT_CODE, PAPER_TYPE
  </sql>
  <sql id="Blob_Column_List" >
    DATA
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from print_template
    where PRINT_TEMPLATE_ID = #{printTemplateId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from print_template
    where PRINT_TEMPLATE_ID = #{printTemplateId}
  </delete>
  <insert id="insert" parameterType="com.xinqch.model.PrintTemplateEntity" >
    insert into print_template (PRINT_TEMPLATE_ID, CORP_ID, NAME, 
      SHORTCUT, DISABLED, WIDTH, 
      HEIGHT, H_OFFSET, V_OFFSET, 
      TEMPLATE_TYPE, IS_DEFAULT, RELATE_OBJECT_CODE, 
      PAPER_TYPE, DATA)
    values (#{printTemplateId,jdbcType=DECIMAL}, #{corpId,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
      #{shortcut,jdbcType=INTEGER}, #{disabled,jdbcType=INTEGER}, #{width,jdbcType=INTEGER}, 
      #{height,jdbcType=INTEGER}, #{hOffset,jdbcType=INTEGER}, #{vOffset,jdbcType=INTEGER}, 
      #{templateType,jdbcType=INTEGER}, #{isDefault,jdbcType=INTEGER}, #{relateObjectCode,jdbcType=VARCHAR}, 
      #{paperType,jdbcType=INTEGER}, #{data,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xinqch.model.PrintTemplateEntity" >
    insert into print_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="printTemplateId != null" >
        PRINT_TEMPLATE_ID,
      </if>
      <if test="corpId != null" >
        CORP_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="shortcut != null" >
        SHORTCUT,
      </if>
      <if test="disabled != null" >
        DISABLED,
      </if>
      <if test="width != null" >
        WIDTH,
      </if>
      <if test="height != null" >
        HEIGHT,
      </if>
      <if test="hOffset != null" >
        H_OFFSET,
      </if>
      <if test="vOffset != null" >
        V_OFFSET,
      </if>
      <if test="templateType != null" >
        TEMPLATE_TYPE,
      </if>
      <if test="isDefault != null" >
        IS_DEFAULT,
      </if>
      <if test="relateObjectCode != null" >
        RELATE_OBJECT_CODE,
      </if>
      <if test="paperType != null" >
        PAPER_TYPE,
      </if>
      <if test="data != null" >
        DATA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="printTemplateId != null" >
        #{printTemplateId,jdbcType=DECIMAL},
      </if>
      <if test="corpId != null" >
        #{corpId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortcut != null" >
        #{shortcut,jdbcType=INTEGER},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="hOffset != null" >
        #{hOffset,jdbcType=INTEGER},
      </if>
      <if test="vOffset != null" >
        #{vOffset,jdbcType=INTEGER},
      </if>
      <if test="templateType != null" >
        #{templateType,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="relateObjectCode != null" >
        #{relateObjectCode,jdbcType=VARCHAR},
      </if>
      <if test="paperType != null" >
        #{paperType,jdbcType=INTEGER},
      </if>
      <if test="data != null" >
        #{data,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinqch.model.PrintTemplateEntity" >
    update print_template
    <set >
      <if test="corpId != null" >
        CORP_ID = #{corpId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortcut != null" >
        SHORTCUT = #{shortcut,jdbcType=INTEGER},
      </if>
      <if test="disabled != null" >
        DISABLED = #{disabled,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        WIDTH = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        HEIGHT = #{height,jdbcType=INTEGER},
      </if>
      <if test="hOffset != null" >
        H_OFFSET = #{hOffset,jdbcType=INTEGER},
      </if>
      <if test="vOffset != null" >
        V_OFFSET = #{vOffset,jdbcType=INTEGER},
      </if>
      <if test="templateType != null" >
        TEMPLATE_TYPE = #{templateType,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        IS_DEFAULT = #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="relateObjectCode != null" >
        RELATE_OBJECT_CODE = #{relateObjectCode,jdbcType=VARCHAR},
      </if>
      <if test="paperType != null" >
        PAPER_TYPE = #{paperType,jdbcType=INTEGER},
      </if>
      <if test="data != null" >
        DATA = #{data,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where PRINT_TEMPLATE_ID = #{printTemplateId}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xinqch.model.PrintTemplateEntity" >
    update print_template
    set CORP_ID = #{corpId,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      SHORTCUT = #{shortcut,jdbcType=INTEGER},
      DISABLED = #{disabled,jdbcType=INTEGER},
      WIDTH = #{width,jdbcType=INTEGER},
      HEIGHT = #{height,jdbcType=INTEGER},
      H_OFFSET = #{hOffset,jdbcType=INTEGER},
      V_OFFSET = #{vOffset,jdbcType=INTEGER},
      TEMPLATE_TYPE = #{templateType,jdbcType=INTEGER},
      IS_DEFAULT = #{isDefault,jdbcType=INTEGER},
      RELATE_OBJECT_CODE = #{relateObjectCode,jdbcType=VARCHAR},
      PAPER_TYPE = #{paperType,jdbcType=INTEGER},
      DATA = #{data,jdbcType=LONGVARCHAR}
    where PRINT_TEMPLATE_ID = #{printTemplateId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinqch.model.PrintTemplateEntity" >
    update print_template
    set CORP_ID = #{corpId,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      SHORTCUT = #{shortcut,jdbcType=INTEGER},
      DISABLED = #{disabled,jdbcType=INTEGER},
      WIDTH = #{width,jdbcType=INTEGER},
      HEIGHT = #{height,jdbcType=INTEGER},
      H_OFFSET = #{hOffset,jdbcType=INTEGER},
      V_OFFSET = #{vOffset,jdbcType=INTEGER},
      TEMPLATE_TYPE = #{templateType,jdbcType=INTEGER},
      IS_DEFAULT = #{isDefault,jdbcType=INTEGER},
      RELATE_OBJECT_CODE = #{relateObjectCode,jdbcType=VARCHAR},
      PAPER_TYPE = #{paperType,jdbcType=INTEGER}
    where PRINT_TEMPLATE_ID = #{printTemplateId}
  </update>
  <!-- 自定义sql -->
  <select id="getResultList" parameterType="com.xinqch.model.PrintTemplateCondition" resultMap="BaseResultMap">
	select 
		<include refid="Base_Column_List" />
    	,
    	<include refid="Blob_Column_List" />
	from print_template where DISABLED = 1
	<if test="corpCode != null">
		AND RELATE_OBJECT_CODE = #{corpCode}
	</if>
	<if test="TemplateId != null">
		AND PRINT_TEMPLATE_ID = #{TemplateId}
	</if>
	<if test="TemplateName != null">
		AND NAME = #{TemplateName}
	</if>
	<if test="papeType != null">
		AND PAPER_TYPE = #{papeType}
	</if>
	<if test="TemplateType != null">
		AND TEMPLATE_TYPE = #{TemplateType}
	</if>
	<if test="pageNo !=null and pageSize !=null">
		limit #{pageNo},#{pageSize}
	</if>
	<!--<if test="sortField !=null">
       ORDER BY ${sortField}
       <if test="sortDesc !=null AND sortDesc == true">
	       DESC
	   </if>
	</if> -->
  </select>
  
  <select id="countByCond" parameterType="com.xinqch.model.PrintTemplateCondition" resultType="java.lang.Integer" >
  	select count(*) from print_template where DISABLED = 1
  	<if test="corpCode != null">
		AND RELATE_OBJECT_CODE = #{corpCode}
	</if>
	<if test="TemplateId != null">
		AND PRINT_TEMPLATE_ID = #{TemplateId}
	</if>
	<if test="TemplateName != null">
		AND NAME = #{TemplateName}
	</if>
	<if test="papeType != null">
		AND PAPER_TYPE = #{papeType}
	</if>
	<if test="TemplateType != null">
		AND TEMPLATE_TYPE = #{TemplateType}
	</if>
	<if test="pageNo !=null and pageSize !=null">
		limit #{pageNo},#{pageSize}
	</if>
	<if test="sortField !=null">
       ORDER BY ${sortField}
       <if test="sortDesc !=null AND sortDesc == true">
	       DESC
	   </if>
	</if>
  </select>
  
</mapper>